body {
    background-color: #F4F3F2;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
h1 {
    color: #4B4B4B;
}
.todos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    width: 660px;
    height: 50px;
    box-shadow: 0px 1px 5px #00000045;
    border-radius: 10px;
    opacity: 1;
    padding: 0 20px;
    margin-bottom: 20px;
}
li {
    width: 700px;
    height: 50px;
    box-shadow: 0px 1px 5px #00000045;
    border-radius: 10px;
    opacity: 1;
    padding: 0 20px;
}
.addTask {
    width: 660px;
    height: 50px;
    box-shadow: 0px 1px 5px #00000045;
    border-radius: 10px;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
}
/* 見かけ上削除。実際には消してない */
.filtered {
    display : none !important;
}
.delete:hover {
    cursor: pointer;
}